@page "/noticias"
@using EnFocoFRONT.Models
@using Microsoft.AspNetCore.Components;
@using System.Net.Http.Json;
@inject IAppSettingsService AppSettingsService

<div class="z-n1 align-content-center d-flex">
    <img class="banner" src="img/noticias.jpg" alt="Noticias" />
</div>



@if (!string.IsNullOrEmpty(SearchTerm))
{
    <p class="text-center mt-4">Resultados de la búsqueda: <strong>@SearchTerm</strong></p>
}

@if (FilteredNotices?.Any() == false)
{
    <p class="alert alert-danger m-3">
        No se encontraron noticias con este filtro. <a class="alert-link" href="/noticias">Ver todas las noticias</a>
    </p>
}
else
{
    <div class="text-center notice-container pt-5">
        @foreach (var notice in FilteredNotices)
        {
            <a href="@($"{AppSettingsService.Settings?.BaseFront}/{notice.Id}")" class="notice-link">
                <article class="notice">
                    <div class="img-notice-container rounded-2">
                        <img class="img-fluid w-100 rounded-2" src="@($"{Configuration["EnFocoBACK"]}/{notice.Img}")" alt="@notice.Title" />
                    </div>
                    <div class="@GetNoticeClass((NoticeCategory)notice.Category) w-75 rounded-2">
                        <h5 class="text-naranja">@notice.Issue?.ToUpper()</h5>
                        <h2 class="editorial">@notice.Title</h2>
                    </div>
                </article>
            </a>
        }
    </div>
}

@code{
    [Inject]
        protected NavigationManager Navigation { get; set; } = default!;

        [Inject]
        protected IConfiguration Configuration { get; set; } = default!;

        [Inject]
        protected HttpClient Http { get; set; } = default!;

        protected List<Notice> AllNoticias { get; set; } = new();
        protected List<Notice> FilteredNotices { get; set; } = new();
        protected string? SearchTerm { get; set; }
        protected string? SelectedCategory { get; set; }
        protected IEnumerable<NoticeCategory> Categories =>
            Enum.GetValues(typeof(NoticeCategory)).Cast<NoticeCategory>();
        protected string? EnFocoBACK { get; set; }

        protected override async Task OnInitializedAsync()
        {
            EnFocoBACK = Configuration["EnFocoBACK"];
            if (string.IsNullOrWhiteSpace(EnFocoBACK))
            {
                Console.Error.WriteLine("EnFocoBACK no está configurado correctamente.");
                return;
            }

            await LoadAllNoticias();
            FilterNoticesByCategory(); // Filtrar al cargar inicialmente (sin categoría seleccionada)
        }

        protected async Task LoadAllNoticias()
        {
            string endpoint = $"{EnFocoBACK}/api/Notice";
            var result = await Http.GetFromJsonAsync<List<Notice>>(endpoint);
            if (result != null)
            {
                AllNoticias = result.Where(n => n.Section == 2).ToList();
                FilteredNotices = AllNoticias; // Inicialmente mostrar todas
            }
            else
            {
                AllNoticias = new();
                FilteredNotices = new();
            }
        }

        protected void FilterNoticesByCategory()
        {
            if (string.IsNullOrEmpty(SelectedCategory))
            {
                FilteredNotices = AllNoticias;
            }
            else
            {
                FilteredNotices = AllNoticias
                    .Where(n => n.Category == (int)Enum.Parse(typeof(NoticeCategory), SelectedCategory, true))
                    .ToList();
            }
        }

        protected void OnCategoryChanged(ChangeEventArgs e)
        {
            SelectedCategory = e.Value?.ToString();
            FilterNoticesByCategory();
        }

        protected string GetNoticeClass(NoticeCategory category)
        {
            return category switch
            {
                NoticeCategory.tribunal => "title-notice title-notice-tribunal",
                NoticeCategory.etica => "title-notice title-notice-etica",
                NoticeCategory.fiscalia => "title-notice title-notice-fiscalia",
                _ => "title-notice"
            };
        }
}